

h1{
    font-family: "Petrona", system-ui;
     font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 144px;


}

h2{
    font-family: "poppins, system-ui";
    font-size: 40px;

}