

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url('../images/hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: "Petrona", system-ui;
     font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 144px;


}

h2{
    font-family: "poppins, system-ui";
    font-size: 40px;

}